@import "partial";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  min-height: 200vh;
}

html{
  font-size: 25px;
}

/*------------Knapper--------------*/
.knap{  
  @include knap;
}

input[type=submit]{
  @include knapform;
}
.center{
  justify-content: center;
  align-items: center; 
}
.left{
  justify-content: left;
  align-items: left; 
}
.right{
  justify-content: right;
  align-items: right; 
}

/*------------Gennerelt text styling--------------*/

.nav-list, main{ 
  font-size: 1rem; 
}

h1, .value-words p{
  text-align: center; 
  font-size: 5rem;
  font-family: "MuseoModerno", sans-serif;
}
h1{
  padding-top: 5vw;
}
h2{
  text-align: center; 
  font-size: 3rem;
  font-family: "MuseoModerno", sans-serif;

}
p{
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px; 
  line-height: 3rem;
}

.nav-list, .value-words p{
  font-family: "MuseoModerno", sans-serif; 
} 

.kontaktform, input[type=submit], textarea[id=besked]{
  font-family: "Mukta", sans-serif;
}

.center-p{
  text-align: center;
  margin-top: 1rem; 
}

.tekst-wrapper{
  margin: 2rem 18vw;
  p{
    margin-bottom: 2rem;
  }
}

/*-----------Index----------*/

.gif{
  display: block;
  margin: 0 auto;
  width: 70vw; 
  justify-content: center;
  padding-top: 6rem;
}

/*------------Background color--------------*/
.nav-comp{
  background-color: $pink-header;
}
.active, body {
  background-color: $bg-color;
}

.second-bg{
  background-color: $second-bg-color;
}


/*------------Color--------------*/
.nav-list a, h1, h2{
  color: $pink; 
}
p{
  color: $black;
}

.active{
  color: $blue;
}

/*------------Margin og padding--------------*/
header, .scroll-reveal, h1, .kontaktform{
  margin: 3rem 6rem; 
}


/*------------Header--------------*/
header{
  display: grid;
  grid-template-columns: 1fr 5fr; 
  position: sticky;
  top: 2rem;
  z-index: 2;
  .header-logo{
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 7rem; 
  }
}

.nav-comp{
  position: absolute;
  top: 0; 
  right: 0; 
  height: 102px;
  border-radius: $border-radius/2;
  width: 1073px;
}
.nav-tel{
  display: none;
  div{
    display: flex;
    width: 90vw;
    border-radius: $border-radius/2; 
    background-color: $pink-header;
    padding: 2rem 4rem;
    img{
      margin: 0 auto;
      width: 14rem;
      object-fit: contain;
    }
    i{
      position: absolute;
      right: 4rem;
      font-size: 4rem;
      color: $blue;
    }
  }  
}

ul{
  list-style: none;
}

.nav-list{
  display: flex; 
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-block: 2rem; 
  font-weight: 300; 
  a{
    text-decoration: none;
  }
  li{
    padding: 1rem 2rem;
  }
}

.active {
  position: relative;  
  border-radius: 40px 40px 0 0;
  padding: 1rem 1.3rem 2rem 1.3rem;
  font-weight: 600; 
}

/*Cirkler der fiktivt skaber en omvendt border-radius*/
.active::before, 
.active::after{
  --border-radius: 2rem; 
  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  bottom: 1px;
  background: $pink-header;
  border-radius: 50vw; 
} 

.active::before{
  right: calc(var(--border-radius) * -1);
  border-radius: 0 0 0 100vw;
  box-shadow: -5px 5px 0 5px $bg-color;
}

.active::after{
  left: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 5px 5px 0 5px $bg-color;
}
/*------------Index--------------*/
main{
  display: flex;
  flex-direction: column; 
}
.scroll-reveal{
  color: hsla(0, 0%, 0%, 0.109); 
  width: 700px;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-image: linear-gradient(90deg, $blue, $pink);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  animation-range-start: contain 10vh;
  animation-range-end: contain 30vh;
  margin-top: 4rem; 
}
@keyframes scroll-reveal{
  to { 
    background-size: 100% 100%; 
  }
}

.second-bg{
  display: grid;
}
.wrapper{
  justify-self: right; 
  position: relative;
  top: -2rem;
  width: 70vw;
  margin-right: 2rem;
}

.landscape{
  object-fit: cover; 
  width: 100vw;
  height: 800px; 
}
.stroke-tekst{
  color: transparent; 
  -webkit-text-stroke: 1px $blue; 
  font-size: 5rem; 
  text-align: center;
  margin-bottom: 10rem; 
  margin-top: 2rem;
}
.card-img{
  max-width: 30vw;
  height: 700px;
  object-fit: cover; 
  border-radius: 30px; 
} 

.scroll-forside{
 display: flex;
 gap: 40px;
 overflow-x: auto;
 p{
  position: relative;
  bottom: 15rem;
  padding: 2rem 0; 
  max-width: 30vw;
  margin: auto; 
  background-color: rgb(252, 216, 216, 0.75);
  text-align: center;
  font-family: "MuseoModerno", sans-serif;
 }
} 
.overflow-scroll{
  max-width: 80%;  
  width: 85vw;
  margin: auto;
  padding-top: 3rem; 
  color: $white;
  height: auto;
}
/*------------Om os--------------*/
.value-words{
  margin: 10rem 0 30rem 0;
  p{
    width: 20vw; 
    margin: 0 auto;
    padding: 3rem 0;
  }
}
.value-words p:nth-of-type(1){
  color: $pink;
}
.value-words p:nth-of-type(2){
  color: $blue; 
}
.mod-teamet{
  padding: 5rem 0;

}
.rund-billede{
  border-radius: 500px;
  width: 10vw;
  height: 10vw;
  background-image: url();
  justify-self: center;
  align-items: center;
  margin: 0 auto;
  filter: grayscale(100%) brightness(99%) contrast(111%);
  -webkit-filter: grayscale(100%) brightness(99%) contrast(111%);
  -moz-filter: grayscale(100%) brightness(99%) contrast(111%);
}
.portraet{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10vw; 
  padding: 3rem 0;
  div{
    width: 20vw;
    display: flex;
    flex-direction: column; 
  }
  p{
    text-align: center;
  }
}
.navn{
  font-weight: 800;
  padding: 2rem 0 0 0;
}

/*------------Services--------------*/
.services{
  position: relative;
  bottom: 9rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5vw 10vw;
  gap: 5vw;
  h2{
    text-align: left;
  }
  p:nth-child(even){ 
    margin: 2rem 0;
  }
}
.services-reverse{
  position: relative;
  bottom: 9rem; 
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5vw 10vw;
  gap: 5vw; 
  h2{
    text-align: right;
  }
  p:nth-child(even){ 
    text-align: right;
    margin: 2rem 0;
  }
}

.card-img-services{
  max-width: 30vw;
  height: 700px;
  object-fit: cover; 
  border-radius: 30px; 
} 


/*------------Kontakt os--------------*/
.kontakt-info{
  padding: 10px 0;
  .icon{
  position: relative;
  top: 1vw; 
  width: 4vw;
  height: auto;
  padding-right: 20px;
}
a{
  text-decoration: none;
  color: $pink;
}
}
.wave-top{
  z-index: 1; 
}
.ikke-overbevist{
  margin: 0 15vw;
  position: relative; 
  top: 18vw; 
  z-index: 0;
}
.flex-knap{
  display: flex;
  justify-content: center;
  margin: 3rem 0 6rem 0;
  gap: 30px;
}
.kontaktform{
  @include form;
}

/*------------Footer--------------*/
footer{
  min-height: 200px;
  background-color: $pink-header;
  width: 100vw;
}