@charset "UTF-8";
/*-------------------Knap------------------*/
/*-------------------Kontaktform------------------*/
/*  input[id=postnummer], input[id=by]{ 
    border-radius: $border-radius;
    width: 14.5vw;
    padding: 1.5rem;
    margin: 0 1vw 3rem 0;
    border: none;
    background-color: $pink-second;
    font-size: 1rem;
  } */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
}

html {
  font-size: 22px;
}

/*------------Knapper--------------*/
.knap {
  display: flex;
  margin: 3rem 0;
}
.knap div {
  background-color: #373FF7;
  padding: 1rem 4rem;
  text-align: center;
  max-width: 100vw;
  border-radius: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.knap p {
  color: #ffffff;
  font-size: 1rem;
}
.knap a {
  text-decoration: none;
  border: none;
  color: white;
  font-family: "Mukta", sans-serif;
}

input[type=submit] {
  background-color: #373FF7;
  color: #ffffff;
  border-radius: 60px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  text-align: center;
  max-width: 400px;
}
input[type=submit] p {
  color: #ffffff;
}

.center {
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: left;
  align-items: left;
}

.right {
  justify-content: right;
  align-items: right;
}

/*------------Gennerelt text styling--------------*/
svg {
  width: 100vw;
}

.nav-list, main {
  font-size: 25px;
}

h1 {
  text-align: center;
  font-size: 5vw;
  font-family: "MuseoModerno", sans-serif;
}

h3 {
  font-family: "MuseoModerno", sans-serif;
}

h1 {
  padding-top: 4vw;
  margin-bottom: 2vw;
}

.h1-top {
  padding-top: 7vw;
}

h2 {
  text-align: center;
  font-size: 3.5vw;
  font-family: "MuseoModerno", sans-serif;
}

p {
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px;
  line-height: 2rem;
}

.nav-list, .value-words p {
  font-family: "MuseoModerno", sans-serif;
}

.kontaktform, input[type=submit], textarea[id=besked] {
  font-family: "Mukta", sans-serif;
}

.center-p {
  text-align: center;
  margin-top: 1rem;
  max-width: 100vw;
}

.tekst-wrapper {
  padding: 2rem 18vw;
}
.tekst-wrapper p {
  margin-bottom: 2rem;
}

.tekst-wrapper-2 {
  padding: 2rem 18vw;
}
.tekst-wrapper-2 .navn {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 600;
}

/*------------Background color--------------*/
.nav-comp {
  background-color: #FFF6F6;
}

.active, body {
  background-color: #FFE3E3;
}

.second-bg {
  background-color: #FCD8D8;
}

/*------------Color--------------*/
.nav-list a, h1, h2 {
  color: #F71CBA;
}

p {
  color: #000000;
}

.active {
  color: #373FF7;
}

/*------------Margin og padding--------------*/
header {
  margin: 2rem 4rem;
}

/*------------Header--------------*/
header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: relative;
  z-index: 2;
}
header .header-logo {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 116px;
}

.nav-tel {
  display: none;
}
.nav-tel div {
  display: flex;
  max-width: 90vw;
  margin: 0 5vw;
  border-radius: 30px;
  background-color: #FFF6F6;
  padding: 2vw 4vw;
}
.nav-tel div a {
  margin: 0 auto;
}
.nav-tel div img {
  width: 20vw;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav-tel div i {
  position: relative;
  right: 0;
  font-size: 6vw;
  color: #373FF7;
}

.nav-comp {
  position: absolute;
  top: 0;
  right: 0;
  height: 102px;
  border-radius: 30px;
  width: 1073px;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-block: 32px;
  font-weight: 300;
}
.nav-list a {
  text-decoration: none;
}
.nav-list li {
  padding: 16px 32px;
}

.active {
  position: relative;
  border-radius: 40px 40px 0 0;
  padding: 16px 20.8px 32px 20.8px;
  font-weight: 600;
}

/*Cirkler der fiktivt skaber en omvendt border-radius*/
.active::before,
.active::after {
  --border-radius: 32px;
  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  bottom: 1px;
  background: #FFF6F6;
}

.active::before {
  right: calc(var(--border-radius) * -1);
  border-radius: 0 0 0 100vw;
  box-shadow: -5px 5px 0 5px #FFE3E3;
}

.active::after {
  left: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 5px 5px 0 5px #FFE3E3;
}

/*------------Index--------------*/
main {
  display: flex;
  flex-direction: column;
}

.gif {
  display: block;
  margin: 0 auto;
  max-width: 60vw;
  justify-content: center;
  padding-top: 6vw;
}

.scroll-reveal {
  color: hsla(0, 0%, 0%, 0.109);
  max-width: 50vw;
  -webkit-background-clip: text;
          background-clip: text;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-image: linear-gradient(90deg, #373FF7, #F71CBA);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  animation-range-start: contain 10vh;
  animation-range-end: contain 30vh;
  padding: 1vw 0 0 10vw;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
.second-bg {
  display: grid;
}

.wrapper {
  justify-self: right;
  position: relative;
  top: -2rem;
  max-width: 60vw;
  margin-right: 2rem;
}

.test {
  margin: 0;
  padding: 0;
}

.box1, .box2, .box3 {
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.box1 h2, .box2 h2, .box3 h2 {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3px) brightness(0.5) contrast(80%);
          backdrop-filter: blur(3px) brightness(0.5) contrast(80%);
}

.box1 {
  background-image: url(/img/sidste-forside.png);
}

.box2 {
  background-image: url(/img/andet-forside.png);
}

.box3 {
  background-image: url(/img/kode.png);
}

.stroke-tekst {
  color: transparent;
  -webkit-text-stroke: 1px #373FF7;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.card-img {
  max-width: 30vw;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.overflow-scroll {
  max-width: 85vw;
  margin: 0 auto;
  padding-top: 3rem;
  color: #ffffff;
}

.scroll-forside {
  display: flex;
  gap: 40px;
  overflow-x: auto;
}
.scroll-forside p {
  position: relative;
  bottom: 15vw;
  padding: 2rem 0;
  max-width: 100vw;
  margin: 0 auto;
  background-color: rgba(235, 191, 191, 0.75);
  text-align: center;
  font-family: "MuseoModerno", sans-serif;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.scroll-forside div img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1.5;
  background-color: #f9cdcd;
}

.zero-margin {
  margin: 0;
  padding-bottom: 2rem;
}

/*------------Om os--------------*/
.value-words {
  margin: 10rem 0 15rem 0;
}
.value-words p {
  max-width: 100vw;
  margin: 0 auto;
  padding: 3rem 0;
  font-size: 3rem;
  text-align: center;
  font-family: "MuseoModerno", sans-serif;
}

.value-words p:nth-of-type(1) {
  color: #F71CBA;
}

.value-words p:nth-of-type(2) {
  color: #373FF7;
}

.mod-teamet {
  padding: 10rem 0;
}

.rund-billede {
  border-radius: 500px;
  max-width: 10vw;
  height: 10vw;
  background-image: url();
  justify-self: center;
  align-items: center;
  margin: 0 auto;
  filter: grayscale(100%) brightness(99%) contrast(111%);
  -webkit-filter: grayscale(100%) brightness(99%) contrast(111%);
  -moz-filter: grayscale(100%) brightness(99%) contrast(111%);
}

.portraet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10vw;
  padding: 3rem 0;
}
.portraet div {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
}
.portraet p {
  text-align: center;
}

.navn {
  font-weight: 800;
  padding: 2rem 0 0 0;
}

/*------------Services--------------*/
.services {
  position: relative;
  bottom: 13rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5vw 10vw;
  gap: 5vw;
}
.services h2 {
  text-align: left;
}
.services p:nth-child(even) {
  margin: 2rem 0;
}

.services-reverse {
  position: relative;
  bottom: 13rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5vw 10vw;
  gap: 5vw;
}
.services-reverse h2 {
  text-align: right;
}
.services-reverse p:nth-child(even) {
  text-align: right;
  margin: 2rem 0;
}

.card-img-services {
  max-width: 30vw;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  margin: 0 auto;
}

.cases-wrapper {
  display: flex;
  padding-bottom: 20rem;
  margin: auto;
}
.cases-wrapper div {
  display: grid;
}

.cases-ned {
  position: relative;
  top: 20vw;
}

.card-wrapper {
  width: 30vw;
  margin: 2rem;
}
.card-wrapper img {
  padding: 2rem;
  width: 30vw;
  position: relative;
  top: 0;
  border-radius: 60px 60px 0 0;
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.75);
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.3/1;
}
.card-wrapper p {
  padding: 2rem;
  background-color: #FBA3D0;
  border-radius: 0 0 60px 60px;
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.75);
}

/*------------Kontakt os--------------*/
.kontakt-info {
  display: flex;
  padding: 10px 0;
}
.kontakt-info a {
  text-decoration: none;
  color: #F71CBA;
  margin: auto 0;
  padding-left: 2rem;
}
.kontakt-info .some-boks {
  border-radius: 2rem;
}
.kontakt-info .fa-solid, .kontakt-info .fa-regular {
  color: white;
  font-size: 1.8rem;
  margin: auto auto;
}

.wave-top {
  z-index: 1;
}

.ikke-overbevist {
  max-width: 50vw;
  aspect-ratio: 1.3/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  margin: 0 auto;
  position: relative;
  top: 18vw;
  z-index: 0;
  border-radius: 10px;
}

.flex-knap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 3vw;
}

.kontaktform {
  max-width: 100vw;
}
.kontaktform input[id=navn], .kontaktform input[id=virksomhed], .kontaktform input[id=mail], .kontaktform input[id=tel] {
  border-radius: 60px;
  width: 30vw;
  padding: 1.5rem;
  margin: 0 0 1rem 0;
  border: none;
  background-color: #FBA3D0;
  font-size: 1rem;
}
.kontaktform input[id=postnummer], .kontaktform input[id=by] {
  border-radius: 60px;
  width: 14.5vw;
  padding: 1.5rem;
  margin: 0 1vw 3rem 0;
  border: none;
  background-color: #FBA3D0;
  font-size: 1rem;
}
.kontaktform textarea[id=besked] {
  border-radius: 60px;
  margin: 0 0 1vw 1vw;
  padding: 1.5rem;
  border: none;
  background-color: #FBA3D0;
  font-size: 1rem;
  width: 30vw;
  height: 15rem;
}
.kontaktform input[type=submit] {
  display: block;
  margin: 0 auto;
  padding: 1.5rem 6rem;
  font-size: 1rem;
}
.kontaktform input[type=checkbox], .kontaktform legend {
  margin: 0 2rem;
}
.kontaktform input::-moz-placeholder {
  color: rgb(73, 65, 65);
  font-size: 1rem;
}
.kontaktform input::placeholder {
  color: rgb(73, 65, 65);
  font-size: 1rem;
}
.kontaktform .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.kontaktform .checkbox2 {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.kontaktform .checkbox-input {
  display: none;
}
.kontaktform .checkbox-box {
  width: 1.25rem;
  height: 1.25rem;
  border: solid 2.5px #FBA3D0;
  background-color: transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
  flex-shrink: 0;
  transition: background-color 0.2s, border-color 0.2s;
}
.kontaktform .checkbox-box::after {
  content: "✔";
  color: #373FF7;
  transform: scale(0);
  transition: transform 0.2s;
}
.kontaktform .checkbox-input:checked + .checkbox-box {
  background-color: #FBA3D0;
  border-color: #FBA3D0;
}
.kontaktform .checkbox-input:checked + .checkbox-box::after {
  transform: scale(1.5);
}
@media screen and (max-width: 1250px) {
  .kontaktform input[id=navn], .kontaktform input[id=virksomhed], .kontaktform input[id=mail], .kontaktform input[id=tel] {
    width: 80vw;
  }
  .kontaktform input[id=postnummer], .kontaktform input[id=by] {
    width: 39vw;
  }
  .kontaktform input[id=by] {
    margin: 0;
  }
  .kontaktform textarea[id=besked] {
    width: 80vw;
    height: 15rem;
    margin: 0;
  }
}

form {
  padding: 2rem 0;
}

.flex {
  display: flex;
  max-width: 100vw;
  font-size: 1rem;
  justify-content: center;
}

.wrapper-kontaktform {
  max-width: 100vw;
}

/*-----------Priser-----------*/
.pris-boks {
  max-width: 60vw;
  background-color: #FBA3D0;
  border-radius: 30px;
  margin: 2rem auto;
  padding: 4rem;
}
.pris-boks p {
  margin: 2rem 0;
  text-align: center;
}

/*------------Footer--------------*/
footer {
  background-color: #FFF6F6;
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0;
}

.footer-1, .footer-2 {
  display: grid;
}
.footer-1 a, .footer-1 p, .footer-2 a, .footer-2 p {
  padding: 2vw 0;
  font-family: "Mukta", sans-serif;
  line-height: 2rem;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}
.footer-1 h3, .footer-2 h3 {
  padding-bottom: 2rem;
  font-weight: 600;
}

.footer-grid {
  display: grid;
  padding-left: 2rem;
}

.pink-streg {
  border-left: solid 2px #F71CBA;
}

.blue-streg {
  border-left: solid 2px #373FF7;
}

.fa-brands {
  color: white;
  font-size: 2.5rem;
  margin: auto auto;
}

.some-wrapper {
  display: flex;
  gap: 1vw;
  padding: 2rem 0;
}

.some-boks {
  width: 3rem;
  height: 3rem;
  background-color: #F71CBA;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}/*# sourceMappingURL=stylesheet.css.map */