*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  display: grid;
  min-height: 200vh;
}

/* -- Indhold --
-------Font
---Font size
---Font family
-------Colors 
---Background color
-------Margin & padding
-------Header
---Image
---Navigation
-------Main
-------Footer
*/

/*------------Font--------------*/
.nav-list, main{
  font-size: 25px;
}

.nav-list{
  font-family: "MuseoModerno", sans-serif; 
} 

p{
  font-family: "Mukta", sans-serif;
}

main{
  letter-spacing: 1px; 
  line-height: 3rem;
}

/*------------Background color--------------*/
nav{
  background-color: #FFF2F2;
}
.active, body {
  background-color: #FFE3E3;
}

/*------------Color--------------*/
.nav-list a{
  color: black;
}
p{
  color: #151414;
}

/*------------Margin og padding--------------*/
header, main p{
  margin: 3rem 6rem;
}

/*------------Header--------------*/
header{
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: sticky;
  top: 2rem; 
}
header img{
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 8rem;
}
/*------------Navigation--------------*/
nav{
  position: absolute;
  top: 0; 
  right: 0; 
  height: 102px;
  border-radius: 30px;
  width: 1073px;
}

.nav-list{
  display: flex; 
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-block: 2rem; 
  font-weight: 300; 
} 

.nav-list a{
  text-decoration: none;
}

.nav-list li{
  padding: 1rem 2rem;
}

.active {
  position: relative;  
  border-radius: 40px 40px 0 0;
  padding: 1rem 1.3rem 2rem 1.3rem;
  font-weight: 600; 
}

/*Cirkler der fiktivt skaber en omvendt border-radius*/
.active::before, 
.active::after{
  --border-radius: 2rem; 
  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  bottom: 1px;
  background: #FFF2F2;
  border-radius: 50vw; 
} 

.active::before{
  right: calc(var(--border-radius) * -1);
  border-radius: 0 0 0 100vw;
  box-shadow: -5px 5px 0 5px #FFE3E3;
}

.active::after{
  left: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 5px 5px 0 5px #FFE3E3;
}
/*------------Main--------------*/
.scroll-reveal {
  display: inline; 
  color: hsla(0, 0%, 0%, 0.2);
  width: 700px;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, red, blue);
  animation: scroll-reveal linear forwards;
  animation-timeline: view(); 
  animation-range: contain 200px;
}

@keyframes scroll-reveal{
  to { 
    background-size: 100% 100%;
  }
}


/*------------Footer--------------*/
footer{
  min-height: 200px; 
  background-color: rebeccapurple;
}


