@charset "UTF-8";
/*-------------------Knap------------------*/
@keyframes bottomsColor {
  0% {
    background-color: #373FF7;
  }
  1% {
    background-color: #0d105e;
  }
  100% {
    background-color: #373FF7;
  }
}
/*-------------------Kontaktform------------------*/
/*  input[id=postnummer], input[id=by]{ 
    border-radius: $border-radius;
    width: 14.5vw;
    padding: 1.5rem;
    margin: 0 1vw 3rem 0;
    border: none;
    background-color: $pink-second;
    font-size: 1rem;
  } */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  min-height: 200vh;
}

html {
  font-size: 25px;
}

/*------------Knapper--------------*/
.knap {
  display: flex;
  margin: 3rem 0;
}
.knap div {
  background-color: #373FF7;
  padding: 1rem 4rem;
  text-align: center;
  max-width: 100vw;
  border-radius: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.knap p {
  color: #ffffff;
  font-size: 1rem;
}
.knap a {
  text-decoration: none;
  border: none;
  color: white;
  font-family: "Mukta", sans-serif;
}
.knap :hover {
  animation: bottomsColor 100s ease alternate;
}

input[type=submit] {
  background-color: #373FF7;
  color: #ffffff;
  border-radius: 60px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  text-align: center;
  max-width: 400px;
}
input[type=submit] p {
  color: #ffffff;
}
input[type=submit] :hover {
  animation: bottomsColor 100s ease alternate;
}

.center {
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: left;
  align-items: left;
}

.right {
  justify-content: right;
  align-items: right;
}

/*------------Gennerelt text styling--------------*/
.nav-list, main {
  font-size: 1rem;
}

h1, .value-words p {
  text-align: center;
  font-size: 5rem;
  font-family: "MuseoModerno", sans-serif;
}

h1 {
  padding-top: 5vw;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "MuseoModerno", sans-serif;
}

p {
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px;
  line-height: 3rem;
}

.nav-list, .value-words p {
  font-family: "MuseoModerno", sans-serif;
}

.kontaktform, input[type=submit], textarea[id=besked] {
  font-family: "Mukta", sans-serif;
}

.center-p {
  text-align: center;
  margin-top: 1rem;
}

.tekst-wrapper {
  margin: 2rem 18vw;
}
.tekst-wrapper p {
  margin-bottom: 2rem;
}

/*-----------Index----------*/
.gif {
  display: block;
  margin: 0 auto;
  width: 70vw;
  justify-content: center;
  padding-top: 6rem;
}

/*------------Background color--------------*/
.nav-comp {
  background-color: #FFF6F6;
}

.active, body {
  background-color: #FFE3E3;
}

.second-bg {
  background-color: #FCD8D8;
}

/*------------Color--------------*/
.nav-list a, h1, h2 {
  color: #F71CBA;
}

p {
  color: #000000;
}

.active {
  color: #373FF7;
}

/*------------Margin og padding--------------*/
header, .scroll-reveal, h1, .kontaktform {
  margin: 3rem 6rem;
}

/*------------Header--------------*/
header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: sticky;
  top: 2rem;
  z-index: 2;
}
header .header-logo {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 7rem;
}

.nav-comp {
  position: absolute;
  top: 0;
  right: 0;
  height: 102px;
  border-radius: 30px;
  width: 1073px;
}

.nav-tel {
  display: none;
}
.nav-tel div {
  display: flex;
  width: 90vw;
  border-radius: 30px;
  background-color: #FFF6F6;
  padding: 2rem 4rem;
}
.nav-tel div img {
  margin: 0 auto;
  width: 14rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav-tel div i {
  position: absolute;
  right: 4rem;
  font-size: 4rem;
  color: #373FF7;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-block: 2rem;
  font-weight: 300;
}
.nav-list a {
  text-decoration: none;
}
.nav-list li {
  padding: 1rem 2rem;
}

.active {
  position: relative;
  border-radius: 40px 40px 0 0;
  padding: 1rem 1.3rem 2rem 1.3rem;
  font-weight: 600;
}

/*Cirkler der fiktivt skaber en omvendt border-radius*/
.active::before,
.active::after {
  --border-radius: 2rem;
  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  bottom: 1px;
  background: #FFF6F6;
  border-radius: 50vw;
}

.active::before {
  right: calc(var(--border-radius) * -1);
  border-radius: 0 0 0 100vw;
  box-shadow: -5px 5px 0 5px #FFE3E3;
}

.active::after {
  left: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 5px 5px 0 5px #FFE3E3;
}

/*------------Index--------------*/
main {
  display: flex;
  flex-direction: column;
}

.scroll-reveal {
  color: hsla(0, 0%, 0%, 0.109);
  width: 700px;
  -webkit-background-clip: text;
          background-clip: text;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-image: linear-gradient(90deg, #373FF7, #F71CBA);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  animation-range-start: contain 10vh;
  animation-range-end: contain 30vh;
  margin-top: 4rem;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
.second-bg {
  display: grid;
}

.wrapper {
  justify-self: right;
  position: relative;
  top: -2rem;
  width: 70vw;
  margin-right: 2rem;
}

.landscape {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 800px;
}

.stroke-tekst {
  color: transparent;
  -webkit-text-stroke: 1px #373FF7;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.card-img {
  max-width: 30vw;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.scroll-forside {
  display: flex;
  gap: 40px;
  overflow-x: auto;
}
.scroll-forside p {
  position: relative;
  bottom: 15rem;
  padding: 2rem 0;
  max-width: 30vw;
  margin: auto;
  background-color: rgba(252, 216, 216, 0.75);
  text-align: center;
  font-family: "MuseoModerno", sans-serif;
}

.overflow-scroll {
  max-width: 80%;
  width: 85vw;
  margin: auto;
  padding-top: 3rem;
  color: #ffffff;
  height: auto;
}

/*------------Om os--------------*/
.value-words {
  margin: 10rem 0 30rem 0;
}
.value-words p {
  width: 20vw;
  margin: 0 auto;
  padding: 3rem 0;
}

.value-words p:nth-of-type(1) {
  color: #F71CBA;
}

.value-words p:nth-of-type(2) {
  color: #373FF7;
}

.mod-teamet {
  padding: 5rem 0;
}

.rund-billede {
  border-radius: 500px;
  width: 10vw;
  height: 10vw;
  background-image: url();
  justify-self: center;
  align-items: center;
  margin: 0 auto;
  filter: grayscale(100%) brightness(99%) contrast(111%);
  -webkit-filter: grayscale(100%) brightness(99%) contrast(111%);
  -moz-filter: grayscale(100%) brightness(99%) contrast(111%);
}

.portraet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10vw;
  padding: 3rem 0;
}
.portraet div {
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.portraet p {
  text-align: center;
}

.navn {
  font-weight: 800;
  padding: 2rem 0 0 0;
}

/*------------Services--------------*/
.services {
  position: relative;
  bottom: 9rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5vw 10vw;
  gap: 5vw;
}
.services h2 {
  text-align: left;
}
.services p:nth-child(even) {
  margin: 2rem 0;
}

.services-reverse {
  position: relative;
  bottom: 9rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5vw 10vw;
  gap: 5vw;
}
.services-reverse h2 {
  text-align: right;
}
.services-reverse p:nth-child(even) {
  text-align: right;
  margin: 2rem 0;
}

.card-img-services {
  max-width: 30vw;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

/*------------Kontakt os--------------*/
.kontakt-info {
  padding: 10px 0;
}
.kontakt-info .icon {
  position: relative;
  top: 1vw;
  width: 4vw;
  height: auto;
  padding-right: 20px;
}
.kontakt-info a {
  text-decoration: none;
  color: #F71CBA;
}

.wave-top {
  z-index: 1;
}

.ikke-overbevist {
  margin: 0 15vw;
  position: relative;
  top: 18vw;
  z-index: 0;
}

.flex-knap {
  display: flex;
  justify-content: center;
  margin: 3rem 0 6rem 0;
  gap: 30px;
}

.kontaktform input[id=navn], .kontaktform input[id=virksomhed], .kontaktform input[id=mail], .kontaktform input[id=tel] {
  border-radius: 60px;
  width: 30vw;
  padding: 1.5rem;
  margin: 0 0 1rem 0;
  border: none;
  background-color: #FBA3D0;
  font-size: 1rem;
}
.kontaktform input[id=postnummer], .kontaktform input[id=by] {
  border-radius: 60px;
  width: 14.5vw;
  padding: 1.5rem;
  margin: 0 1vw 3rem 0;
  border: none;
  background-color: #FBA3D0;
  font-size: 1rem;
}
.kontaktform textarea[id=besked] {
  border-radius: 60px;
  margin: 0 0 1vw 1vw;
  padding: 1.5rem;
  border: none;
  background-color: #FBA3D0;
  font-size: 1rem;
  width: 30vw;
  height: 15rem;
  font-family: "Mukta", sans-serif;
}
.kontaktform input[type=submit] {
  display: block;
  margin: 0 auto;
  padding: 1.5rem 6rem;
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
}
.kontaktform input[type=checkbox], .kontaktform legend {
  margin: 0 2rem;
}
.kontaktform input::-moz-placeholder {
  color: rgb(73, 65, 65);
  font-size: 1rem;
}
.kontaktform input::placeholder {
  color: rgb(73, 65, 65);
  font-size: 1rem;
}
.kontaktform .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.kontaktform .checkbox2 {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.kontaktform .checkbox-input {
  display: none;
}
.kontaktform .checkbox-box {
  width: 1.25rem;
  height: 1.25rem;
  border: solid 2.5px #FBA3D0;
  background-color: transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
  flex-shrink: 0;
  transition: background-color 0.2s, border-color 0.2s;
}
.kontaktform .checkbox-box::after {
  content: "✔";
  color: #373FF7;
  transform: scale(0);
  transition: transform 0.2s;
}
.kontaktform .checkbox-input:checked + .checkbox-box {
  background-color: #FBA3D0;
  border-color: #FBA3D0;
}
.kontaktform .checkbox-input:checked + .checkbox-box::after {
  transform: scale(1.5);
}
@media screen and (max-width: 1250px) {
  .kontaktform input[id=navn], .kontaktform input[id=virksomhed], .kontaktform input[id=mail], .kontaktform input[id=tel] {
    width: 80vw;
  }
  .kontaktform input[id=postnummer], .kontaktform input[id=by] {
    width: 39vw;
  }
  .kontaktform input[id=by] {
    margin: 0;
  }
  .kontaktform textarea[id=besked] {
    width: 80vw;
    height: 15rem;
    margin: 0;
  }
}

/*------------Footer--------------*/
footer {
  min-height: 200px;
  background-color: #FFF6F6;
  width: 100vw;
}/*# sourceMappingURL=style.css.map */